
.linksContainer {
    width: 100%;
    flex-flow: row;
    z-index: 1;
}

a {
    margin-right: 15px;
}

@media screen and (max-width: 375px) {
    .linksSectionTitle {
        font-size: 18px;
    }
  }